@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}
.bg-dark-theratio {
    background-color: #194246;
}
body.bg-dark-theratio, section.bg-dark-theratio {
    background-color: #0A0A0A;
}

.octf-cta-header .octf-cta-icons i {
    color: #fff;
}
.s-light .studio-testi-slide-block {
    background-color: #1A1A1A;
}

/* banner 4 */
.banner-4 {
    background-attachment: fixed;
    padding: 0;
}
.banner-4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 60%);
}
.banner-4 .main-title {
/*    color: #daa520;*/
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
}

/* video background */
.about-video video {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

/* contact home */
.contact-home .contact-leftSide {
    background-color: #194246;
    border: 30px solid #194246;
    border-image-source: url(../images/slide-border-image-2.png);
    border-image-slice: 117;
    border-image-repeat: round;
    z-index: 2;
    text-align: center;
    height: 320px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
}
.contact-home .contact-leftSide .main-heading {
    color: #DCB7AC;
    font-size: 32px;
    margin-bottom: 25px;
    line-height: 35px;
}
.contact-home .contact-leftSide p {
    color: #fff;
    line-height: 1.5;
}
.contact-home .main-form input, 
.contact-home .main-form textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact-home .main-form .octf-btn {
    background: #194246;
} 
.iti--separate-dial-code .iti__selected-flag {
    background-color: transparent;
}
.contact-home .wpcf7 .main-form input::placeholder,
.contact-home .wpcf7 .main-form textarea::placeholder {
  text-transform: capitalize;
    font-size: 13px;
}

/* Footer */
.site-footer {
    background-color: #194246;
}
.footer-bottom {
    background-color: #194246;
}

.fixed-social {
    position: fixed;
    top: 100px;
    left: 20px;
    padding: 0;
    z-index: 99;
    display: none;
}
.fixed-social ul {
    list-style: none;
}
.fixed-social ul li a {
    color: #2c757c;
    font-size: 25px;
}
.fixed-social ul li a svg {
    fill: #2c757c;
}

.ot-features-box .features-image .overlay {
    background: rgb(255 255 255 / 50%);
}
.ot-features-box .features-image .overlay img {
    width: 70%;
}

/* categories section */
.categories-section .projects-grid.style-5 .project-item {
    width: auto;
    padding: 0;
    border-right: 3px solid #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.categories-section .projects-grid .projects-box .projects-thumbnail img {
    height: 75vh;
    object-fit: cover;
}
.categories-section .projects-grid.style-5 .projects-box .portfolio-info {
    background: rgba(255, 255, 255, 0.75);
}
.categories-section .projects-grid .projects-box .portfolio-info h5 {
    color: #2c757c;
    font-size: 20px;
    font-weight: bold;
}

.categories-section .projects-grid .projects-box .projects-thumbnail .data-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(10,10,10,.7);
    opacity: 1;
    padding: 10px;
    text-align: center;
    z-index: -1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}
.categories-section .projects-grid.img-scale .projects-box:hover .data-list {
    visibility: visible;
    z-index: 9;
}

.categories-section .projects-grid .projects-box .projects-thumbnail .data-list a {
    color: #fff;
}
.categories-section .projects-grid .projects-box .projects-thumbnail .data-list a:hover {
    color: #b87333;
}

/* products slider */
/*
.products-slider .wrapper-icons {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    -webkit-transform: translateX(-70px);
    -ms-transform: translateX(-70px);
    transform: translateX(-70px);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.products-slider .product-item:hover .wrapper-icons {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
*/
.product .wrapper-icons a {
    margin-left: 5px;
}
.products-slider .owl-nav.disabled + .owl-dots {
    margin-top: 25px;
}
.product-item .wrapper-add-to-cart a {
    background-color: #194246;
}
.product-item {
    border: 1px solid #e0e0e0;
}
/*
.product-item .product-media img {
    height: 290px;
    object-fit: contain;
}
*/
.product-item .woocommerce-loop-product__title {
    font-size: 25px;
}
.product-item .sub-title {
    font-size: 22px;
}

.gallery-post .item-video {
    position: relative;
}
.gallery-post .item-video .item-video-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}


/* responsive */
@media(max-width: 1199px) {
    .categories-section .projects-grid.style-5 .project-item {
        flex: inherit;
        flex-grow: 1;
        width: 25%;
        border-bottom: 3px solid #FFFFFF;
    }
    .categories-section .projects-grid .projects-box .projects-thumbnail img {
        height: 50vh;
    }
}
@media(max-width: 767px) {
    .categories-section .projects-grid.style-5 .project-item {
        width: 50%;
    }
}
